%article{ :role => :article }
  %header.breathe{ :role => :banner }
    %h1.intro-text
      %embed.intro-text__intro-sword{ :src => '/images/lone-sword.svg' }

      .intro-text__first-part
        %a{ :href => 'mailto:pjurczynski@gmail.com' } Rent
        yourself
        a R&#x14d;nin..

      .intro-text__second-part
        \..and be
        my master.

  %section#skills.skills{ :role => :main }
    %header{ :role => :heading }
      %h2 My weapons are at your disposal:

    %ul.skill-list.custom-bullets.grid
      %li.card.html.one-third>
        %h3.card__title HTML Shurkiens
        %p
          are used to open up the enemy. This prepares him for a mighty thrust of a JS blade. It is a base foundation for all my specific attacks. I had to become a master in using them in order to be effective with other tools. In ruby world I mainly use
          %em HAML
          rather than pure HTML. This helps my shurikens to get to my enemy faster.

      %li.card.js.one-third>
        %h3.card__title Katana JS
        %p
          Javascript is like katana to me. Main weapon of choice. I can slice through the requirements with a clean and sharp edge. Dependant to situation I use pure JS blade or much exclusive
          %em Coffeescript
          edge. All this is well protected thanks to
          %em Jasmine
          oil which preserves, and helps the blade never to become blunt.

      %li.card.css.one-third
        %h3.card__title Wakizashi CSS
        %p
          Where katana would be an overkill I do use CSS. The wakizashi blade is as sharp as katana although not as much powerful. I am fluent with pure CSS as well as cloaked with
          %em SASS.
          I had been learning from Nicole Sullivan scripts about secret techniques of
          %em OOCSS.


  %section#background.samurai.grid
    %header.one-third.overlay-text--samurai.rounded{ :role => :heading }
      %h2
        Short history of your 
        %em future samurai
    .text.overlay-text--samurai.rounded.one-half
      %p
        I had been living happily in a large town called Cracow in Poland. On daily basis I had been fulfilling my master wishes at&nbsp;

        %a{ :href => 'http://allani.pl', :rel => 'nofollow external' }<>
          allani.pl
        &nbsp;and its sister&nbsp;
        %a{ :href => 'http://allani.com', :rel => 'nofollow external' }<>
          allani.com
        \.
      %p
        Although what is good always has its end. And this time I had to leave my homeland and find my own ways in Italy. It is just like in the old days &ndash; freelancing days..

      %p
        %small
          More comprehensive history had been written at&nbsp;
          %a{ :href => 'http://pjurczynski.heroku.pl' }
            http://pjurczynski.heroku.pl 
  %aside.footer{ :role => :complementary }

    .mail_me
      %a.btn--primary{ :href => 'mailto:pjurczynski@gmail.com' } Rent a samurai

    %ul.social-list
      %li.github
        %a.btn--inverse{ :href => 'https://github.com/pjurczynski', :rel => :nofollow }
          %span.icon-github-alt
          GitHub
      %li.linkedin
        %a.btn--inverse{ :href => 'http://www.linkedin.com/profile/view?id=246522056', :rel => :nofollow }
          %span.icon-linkedin-sign
          LinkedIn
      %li.google
        %a.btn--inverse{ :href => 'https://plus.google.com/114778870761574897855/posts', :rel => :nofollow }
          %span.icon-google-plus-sign
          Google+
      %li.twitter
        %a.btn--inverse{ :href => 'https://twitter.com/Merstzik', :rel => :nofollow }
          %span.icon-twitter-sign
          Twitter
