!!!
%html
  %head
    %title Piotr Jurczynski
    //%link{:rel => 'stylesheet', :href => '/stylesheets/main.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'author', :href => '/humans.txt', :type => 'text/plain'}
    = css :main
  %body.test
    =yield
