/* Colors */
$color-default          : #333;
$color-inverse          : #CCC;
$color-accent           : #CE0000;

$samurai-background-color : #E5E5E5;
$skills-background-color  : #F5F5F5;
$brand-round              : 3px;

/* Media Queries */
$phone-tablet-breakpoint: 600px;
$tablet-pc-breakpoint   : 300px;
