[class^='btn'],
[class*=' btn'] {
  display:inline-block;       
  vertical-align:middle;      
  white-space:nowrap;         
  font-family:inherit;        
  font-size:100%;             
  cursor:pointer;             
  border:none;                
  margin:0;                   
  padding-top:   0;           
  padding-bottom:0;           
  line-height:3;              
  padding-right:1em;          
  padding-left: 1em;          
  border-radius: $brand-round;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

.btn--inverse, .btn--inverse:visited {
  color: $color-inverse;
}
.btn--primary, .btn--primary:visited {
  color: $color-accent
}
